<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">联系我们</h2>
                <hr class="primary">
                <p>深圳市亿指科技有限公司</p>
			<p><i class="fa fa-home"></i> 
                    <abbr title="Home">地址</abbr>: 深圳市宝安区沙井街道办中心路18号高盛大厦A808</p>
		<p><i class="fa fa-user"></i> 
                    <abbr title="Name">姓名</abbr>: Frank 或 Charlin</p>
<!--
            <p><i class="fa fa-phone"></i> 
                    <abbr title="Phone">电话</abbr>: 0755-xxxxxxxx</p>
-->
            <p><i class="fa fa-envelope-o"></i> 
                    <abbr title="Email">邮箱</abbr>: daiyulong@fppass.com</a>
                </p>
		<p><i class="fa fa-qq"></i> 
                    <abbr title="qq">qq</abbr>: 347927724</p>
	    <p>深圳市亿指科技有限公司  粤ICP备18067635号</p>
          </div>
    </div>
</section>
