<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="img/portfolio/7.jpg"><a class="navbar-brand page-scroll" href="#page-top">亿指科技|FP工作室</a>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="<a href="">关于我们</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">产品中心</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">应用方案</a>
                </li>
                <li>
                    <a class="page-scroll" href="_blank">技术支持</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://shop412428323.taobao.com">淘宝店铺</a>
                </li>                
                <li>
             
                    <a href="/_includes/download.html">下载资料</a>
                </li>
                
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
