<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">项目</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>指纹识别模组</h3>
                    <p class="text-muted" align="left">光学识别YZ7005。</p>
                    <br>
                    <a href="#" class="btn btn-primary">了解更多</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>指纹识别模组</h3>
                    <p class="text-muted" align="left">电容识别</p>
                    <br>
                    <a href="#" class="btn btn-primary">了解更多</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>智能锁</h3>
                    <p class="text-muted">可以指纹开门的锁</p>
                    <br>
                    <a href="#" class="btn btn-primary">暂未开放</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>酒店锁</h3>
                    <p class="text-muted">用于酒店的智能锁</p>
                    <br>
                    <a href="#" class="btn btn-primary">暂未开放</a>
                </div>
            </div>
        </div>
    </div>
</section>
